USE [RanUser]
GO
/****** Object:  StoredProcedure [dbo].[HWIDWatchlistCheck]    Script Date: 05/05/2020 02:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[HWIDWatchlistCheck]
    @HWID  varchar(65), --PCID
	@MAC  varchar(65), --PCID
    @nReturn     int    OUTPUT
AS        
    SET NOCOUNT ON

    SET @nReturn = 0
   
	--hwid is in watchlist
	--ban the mac address
    IF (SELECT COUNT(*) FROM HWIDWatchlist WITH (NOLOCK) WHERE HWID = @HWID) > 0
	BEGIN
		SET @nReturn = 100
		
		--we use the hwid as reason for reference
		INSERT INTO BlockPCID ( BlockMAC, BlockTYPE, BlockReason ) 
        VALUES ( @MAC, 2, @HWID)    
	END
		
	RETURN @nReturn