USE [RanGame1]
GO
/****** Object:  StoredProcedure [dbo].[PKComboCheck]    Script Date: 2/11/2021 6:38:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PKComboCheck]    
    @nChaNum int,
	@nReturn int OUTPUT
AS		
	SET NOCOUNT ON
	
	SET @nReturn = 0		

	IF EXISTS (SELECT idx FROM ChaPKCombo WHERE ChaNum=@nChaNum) 
	BEGIN
		SET @nReturn = 1
	END
	ELSE
	BEGIN
        SET @nReturn = 0
	END
	SET NOCOUNT OFF

	RETURN @nReturn
