USE [RanGame1]
GO
/****** Object:  StoredProcedure [dbo].[PKComboMake]    Script Date: 2/13/2021 5:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PKComboMake]
    @nSGNum int,
    @nChaNum int,
	@nReturn int OUTPUT
AS	
	DECLARE
		@error_var int, 
		@rowcount_var int
		
	SET NOCOUNT ON
	
	SET @nReturn = 0
	
	INSERT INTO ChaPKCombo(ChaNum, SGNum, CreatedDate, PKCombo00, PKCombo01, PKCombo02, PKCombo03, PKCombo04, PKCombo05, PKCombo06, PKCombo07 ) 
	VALUES(@nChaNum, @nSGNum, GETDATE(), 0, 0, 0, 0, 0, 0, 0, 0)	
	
    SELECT @error_var = @@ERROR, @rowcount_var = @@ROWCOUNT    
    IF @error_var <> 0 OR @rowcount_var = 0
    BEGIN
        SET @nReturn = -1
        SET NOCOUNT OFF
        RETURN @nReturn
    END
    ELSE
    BEGIN
        SET @nReturn = 0
        SET NOCOUNT OFF
        RETURN @nReturn
    END
