USE [RanGame]
GO
/****** Object:  StoredProcedure [dbo].[sp_CombatRecordMake]    Script Date: 13/05/2022 4:21:53 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_CombatRecordMake]
    @nSGNum int,
    @nChaNum int,
	@nPKScorePREV int,
	@nPKDeathPREV int,
	@nReturn int OUTPUT
AS	
	DECLARE
		@error_var int, 
		@rowcount_var int
		
	SET NOCOUNT ON
	
	SET @nReturn = 0
	
	INSERT INTO ChaCombatRecord(ChaNum, SGNum, CreatedDate, PVPKills, PVPDeaths ) 
	VALUES(@nChaNum, @nSGNum, GETDATE(), @nPKScorePREV, @nPKDeathPREV )	
	
    SELECT @error_var = @@ERROR, @rowcount_var = @@ROWCOUNT    
    IF @error_var <> 0 OR @rowcount_var = 0
    BEGIN
        SET @nReturn = -1
        SET NOCOUNT OFF
        RETURN @nReturn
    END
    ELSE
    BEGIN
        SET @nReturn = 0
        SET NOCOUNT OFF
        RETURN @nReturn
    END
