USE [RanGame]
GO
/****** Object:  StoredProcedure [dbo].[sp_CombatRecordCheck]    Script Date: 13/05/2022 4:21:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_CombatRecordCheck]    
    @nChaNum int,
	@nReturn int OUTPUT
AS		
	SET NOCOUNT ON
	
	SET @nReturn = 0		

	IF EXISTS (SELECT idx FROM ChaCombatRecord WHERE ChaNum=@nChaNum) 
	BEGIN
		SET @nReturn = 1
	END
	ELSE
	BEGIN
        SET @nReturn = 0
	END
	SET NOCOUNT OFF

	RETURN @nReturn
