USE [RanGame1]
GO
/****** Object:  StoredProcedure [dbo].[sp_EndGuAllianceBattle]    Script Date: 10/16/2020 1:53:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_EndGuAllianceBattle]
    @nClubP  int,
    @nClubS  int,
	@nGuFlag int,
	@nGuKillNum int, 
	@nGuDeathNum int,
	@nReturn int	OUTPUT
AS    
    DECLARE 
        @error_var int, 
		@rowcount_var int

	SET NOCOUNT ON
	
	SET @nReturn = 0	
	SET @error_var = 0
	SET @rowcount_var = 0	
    
    BEGIN TRAN

	UPDATE GuildBattle
	SET GuFlag=@nGuFlag, GuKillNum=@nGuKillNum, GuDeathNum=@nGuDeathNum
	WHERE GuSNum=@nClubS AND GuPNum=@nClubP AND GuFlag=0 AND GuAlliance=1

	SELECT @error_var = @@ERROR, @rowcount_var = @@ROWCOUNT    
	IF @error_var <> 0 OR @rowcount_var = 0
	BEGIN
		ROLLBACK TRAN
		SET @nReturn = -1
	END
	ELSE
	BEGIN
		COMMIT TRAN
		SET @nReturn = 0
	END    

	-- CLUB_BATTLE_DRAW, CLUB_BATTLE_ARMISTICE
	IF (@nGuFlag = 1) OR (@nGuFlag = 2)  
	BEGIN
		UPDATE GuildInfo
        SET GuAllianceBattleDraw=GuAllianceBattleDraw+1
        WHERE GuNum = @nClubP
	END

	-- CLUB_BATTLE_LOSE, CLUB_BATTLE_SUBMISSION
	IF (@nGuFlag = 5 ) OR (@nGuFlag = 3)
	BEGIN
		UPDATE GuildInfo
        SET GuAllianceBattleLose=GuAllianceBattleLose+1
        WHERE GuNum = @nClubP
	END

	-- CLUB_BATTLE_WIN, CLUB_BATTLE_SUBMISSION_WIN
	IF (@nGuFlag = 6 ) OR (@nGuFlag = 4)
	BEGIN
		UPDATE GuildInfo
        SET GuAllianceBattleWin=GuAllianceBattleWin+1
        WHERE GuNum = @nClubP
	END

	SET NOCOUNT OFF
	RETURN @nReturn
