USE [RanUser]
GO
/****** Object:  StoredProcedure [dbo].[sp_GISGetVotePoint]    Script Date: 27/12/2021 9:49:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_GISGetVotePoint]
    @nUserNum int,
	@nReturn int OUTPUT
AS
	DECLARE 	
		@error_var int,
		@rowcount_var int,
		@nVotePoint int

	SET NOCOUNT ON
	
	SET @nVotePoint = 0
	
	SELECT @nVotePoint=VotePoint 
	FROM UserInfo 
	WHERE UserNum=@nUserNum
	
	IF @error_var <> 0 OR @rowcount_var = 0
	BEGIN
	    SET @nReturn = 0
	    SET NOCOUNT OFF
	    RETURN @nReturn	
	END
	
	SET @nReturn = @nVotePoint

	SET NOCOUNT OFF

	RETURN @nReturn
