USE [RanUser]
GO
/****** Object:  StoredProcedure [dbo].[sp_GISGetUserPoint]    Script Date: 27/12/2021 9:49:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_GISGetUserPoint]
    @nUserNum int,
	@nReturn int OUTPUT
AS
	DECLARE 	
		@error_var int,
		@rowcount_var int,
		@nUserPoint int

	SET NOCOUNT ON
	
	SET @nUserPoint = 0
	
	SELECT @nUserPoint=UserPoint 
	FROM UserInfo 
	WHERE UserNum=@nUserNum
	
	IF @error_var <> 0 OR @rowcount_var = 0
	BEGIN
	    SET @nReturn = 0
	    SET NOCOUNT OFF
	    RETURN @nReturn	
	END
	
	SET @nReturn = @nUserPoint

	SET NOCOUNT OFF

	RETURN @nReturn
