USE [RanUser]
GO
/****** Object:  StoredProcedure [dbo].[sp_GISUseUserPoint]    Script Date: 27/12/2021 9:49:18 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_GISUseUserPoint]
    @nUserNum int,
	@nConsumePoint int,
	@nReturn int OUTPUT
AS
	DECLARE 	
		@error_var int,
		@rowcount_var int,
		@nUserPoint int,
		@nRemain int

	SET NOCOUNT ON
	
	SELECT @nUserPoint=UserPoint FROM UserInfo WHERE UserNum=@nUserNum

	IF @error_var <> 0 OR @rowcount_var = 0
	BEGIN
	    SET @nReturn = -1	-- user not found
	    SET NOCOUNT OFF
	    RETURN @nReturn	
	END
	
	IF @nConsumePoint > @nUserPoint
	BEGIN
		SET @nReturn = -1	-- not enough point
	    SET NOCOUNT OFF
	    RETURN @nReturn	
	END

	UPDATE UserInfo set UserPoint = UserPoint - @nConsumePoint WHERE UserNum=@nUserNum

	SELECT @nUserPoint=UserPoint FROM UserInfo WHERE UserNum=@nUserNum
	IF @error_var <> 0 OR @rowcount_var = 0
	BEGIN
	    SET @nReturn = -1	-- user not found
	    SET NOCOUNT OFF
	    RETURN @nReturn	
	END

	--log
	INSERT into PointConsumeLog( UserNum, Type, Consume ) 
	VALUES( @nUserNum, 0, @nConsumePoint )

	SET @nReturn = @nUserPoint -- we return the latest point

	SET NOCOUNT OFF
	return @nRemain
