USE [RanShop]
GO
/****** Object:  StoredProcedure [dbo].[sp_GISPurchase]    Script Date: 27/12/2021 9:50:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[sp_GISPurchase]
	@nIndex int,
	@nItemMID int,
	@nItemSID int,
	@nUserNum int,
	@UserId varchar(50),
	@nReturn int OUTPUT
AS	

DECLARE	
	@productNum int,
	@productStock int,
	@productType int,
	@productMoney int,
	@userNum int,
	@error_var int, -- Declare variables used in error checking.
	@rowcount_var int

SET NOCOUNT ON;

SELECT @productNum = ProductNum, @productStock = ItemStock, @productType = ShopType, @productMoney = ItemMoney
FROM GameItemShop (NOLOCK) 
WHERE idx = @nIndex and ItemMain = @nItemMID and ItemSub = @nItemSID --this should be enough of an identity

IF @error_var <> 0 OR @rowcount_var = 0
BEGIN
	SET @nReturn = 1 -- item not found
	SET NOCOUNT OFF
	RETURN @nReturn	
END

IF @productStock = 0
BEGIN
	SET @nReturn = 2 -- no stocks
	SET NOCOUNT OFF
	RETURN @nReturn	
END 


IF @productType = 0
BEGIN
	SET @nReturn = 3 -- product type is zero, not for purchase
	SET NOCOUNT OFF
	RETURN @nReturn	
END


--insert item
INSERT INTO ShopPurchase (UserUID, ProductNum, PurFlag, PurDate, PurChgDate, ItemMain, ItemSub )
VALUES( @UserId, @productNum, 0, GETDATE(), GETDATE(), @nItemMID, @nItemSID )

IF @@ERROR <> 0 
BEGIN 
	SET @nReturn = -1 --insert failed
	SET NOCOUNT OFF
	RETURN @nReturn	
END

--update stocks
UPDATE GameItemShop
SET ItemStock = ItemStock - 1
WHERE idx = @nIndex


--log
INSERT INTO GISPurchaseLog (ProductNum, ItemMain, ItemSub, ItemMoney, UserID)
VALUES( @productNum, @nItemMID, @nItemSID, @productMoney, @UserId )


SET @nReturn = 0 -- all goods
SET NOCOUNT OFF;
RETURN @nReturn

 