USE [RanLog]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogMaxLevel]    Script Date: 7/26/2021 6:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_LogMaxLevel]
	@nUserNum int,
	@nChaNum int,
	@szChaName	varchar(33),
	@nChaLevel int,
	@nReturn	int OUTPUT
AS	
	DECLARE 
        @error_var int,
        @rowcount_var int

    SET NOCOUNT ON

    SET @nReturn = 0
    
	BEGIN TRAN
	
	INSERT INTO LogMaxLevel( UserNum, ChaNum, ChaName, ChaLevel )
	VALUES ( @nUserNum, @nChaNum, @szChaName, @nChaLevel )

	SELECT @error_var = @@ERROR, @rowcount_var = @@ROWCOUNT    
	IF @error_var <> 0 OR @rowcount_var = 0
		BEGIN
		ROLLBACK TRAN
		SET @nReturn = -1
		END
	ELSE
		BEGIN
		COMMIT TRAN
		END

    SET NOCOUNT OFF    
    
    RETURN @nReturn
