USE [RanUser]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogChatBlock]    Script Date: 9/24/2020 11:22:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LogChatBlock]
	@nUserNum     int,
	@szUserID     varchar(33),
	@szBlockDate  varchar(65),
	@szReason     varchar(512), 
	@nGMUserNum   int,
	@szGMUserID   varchar(33),
	@nReturn      int    OUTPUT
AS
   DECLARE 
        @error_var int,
        @rowcount_var int

    SET NOCOUNT ON

    SET @nReturn = 0
    
	BEGIN TRAN
	
	INSERT INTO LogChatBlock ( UserNum, UserID, ChatBlockDate, ChatBlockReason, GMUserNum, GMUserID )
	VALUES ( @nUserNum, @szUserID, @szBlockDate, @szReason, @nGMUserNum, @szGMUserID )

	SELECT @error_var = @@ERROR, @rowcount_var = @@ROWCOUNT    
	IF @error_var <> 0 OR @rowcount_var = 0
		BEGIN
		ROLLBACK TRAN
		SET @nReturn = -1
		END
	ELSE
		BEGIN
		COMMIT TRAN
		END

    SET NOCOUNT OFF    
    
    RETURN @nReturn
