USE [RanLog]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogTyrannyParticipant]    Script Date: 09/09/2021 4:22:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_LogTyrannyParticipant]
	@nSessionNum int,
    @nChaNum  int,
	@szChaName	varchar(33),
	@nChaSchool  int,
	@nChaClass  int,
	@nRankAll int,
	@nRankClass int,
	@nScoreKill int,
	@nScoreDeath int,
	@nScoreDamage int,
	@nScoreHeal int,
	@nScoreResu int,
	@nScoreTotal int,
	@nRewardPoint int,
	@nReturn int	OUTPUT
AS    
    DECLARE @error_var int, @rowcount_var int

	SET NOCOUNT ON
	
	SET @nReturn = 0
	SET @error_var = 0
	SET @rowcount_var = 0
	
    INSERT INTO TyrannyParticipant(SessionNum, ChaNum, ChaName, ChaSchool, ChaClass, RankAll, RankSchool, ScoreKill, ScoreDeath, ScoreDamage, ScoreHeal, ScoreResu, ScoreTotal, RewardPoint) 
    VALUES (@nSessionNum, @nChaNum, @szChaName, @nChaSchool, @nChaClass, @nRankAll, @nRankClass, @nScoreKill, @nScoreDeath, @nScoreDamage, @nScoreHeal, @nScoreResu, @nScoreTotal, @nRewardPoint)
    
    SELECT @error_var = @@ERROR
    IF @error_var <> 0 
    BEGIN
        SET @nReturn = -1
        RETURN @nReturn
    END
    
    RETURN @nReturn