USE [RanLog]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogPutOnDrop]    Script Date: 7/7/2019 5:37:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LogPutOnDrop]
    @charID				int,
    @charName			varchar(33),
	@serial				varchar(50),
	@itemM				int,
	@itemS				int,
	@itemGen			int,
	@mapM				int,
	@mapS				int,
	@factAM				int,
	@factAS				int,
	@factBM				int,
	@factBS				int, 
	@petUse				int, 
	@petskillAM			int,
	@petskillAS			int,
	@petskillBM			int,
	@petskillBS			int, 
    @nReturn			int    OUTPUT

AS        
    DECLARE 
        @error_var int,
        @rowcount_var int

    SET NOCOUNT ON

    SET @nReturn = 0

	BEGIN TRAN

	INSERT INTO LogPutOnDrop( ChaNum, ChaName, Serial, ItemM, ItemS, ItemGen, MapM, MapS, FactAM, FactAS, FactBM, FactBS, UsePet, PetSkillAM, PetSkillAS, PetSkillBM, PetSkillBS )
	VALUES (	@charID, @charName, @serial, @itemM, @itemS, @itemGen, @mapM, @mapS, @factAM, @factAS, @factBM, @factBS, @petUse, @petskillAM, @petskillAS, @petskillBM, @petskillBS )
	
	SELECT @error_var = @@ERROR, @rowcount_var = @@ROWCOUNT    
	IF @error_var <> 0 OR @rowcount_var = 0
		BEGIN
		ROLLBACK TRAN
		SET @nReturn = -1
		END
	ELSE
		BEGIN
		COMMIT TRAN
		END

    SET NOCOUNT OFF    
    RETURN @nReturn  
