USE [RanLog]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogTyrannyResult]    Script Date: 09/09/2021 4:16:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_LogTyrannyResult]
    @nWinner  int,
	@nNumSG int,
	@nNumMP int,
	@nNumPHX int,
	@nReturn int	OUTPUT
AS    
    DECLARE @nSessionID int,        
         @error_var int, 
		 @rowcount_var int

	SET NOCOUNT ON
	
	SET @nReturn = 0
	SET	@nSessionID = 0
	SET @error_var = 0
	SET @rowcount_var = 0
	
    INSERT INTO TyrannySession(SchoolWinner, SchoolNumSG, SchoolNumMP, SchoolNumPHX) 
    VALUES (@nWinner, @nNumSG, @nNumMP, @nNumPHX)
    
    SELECT @error_var = @@ERROR
    IF @error_var <> 0 
    BEGIN
        SET @nReturn = -1
        RETURN @nReturn
    END
    
    SELECT @nSessionID=@@IDENTITY
    
    SET @nReturn = @nSessionID
    
    RETURN @nReturn
