USE [RanLog]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogGMParty]    Script Date: 6/13/2021 9:51:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_LogGMParty]
	@nGMUserNum int,
	@nGMChaNum int,
	@szGMChaName	varchar(33),
	@nGMUserType int,
    @nTargetUserNum int,
	@nTargetChaNum int,
	@szTargetChaName	varchar(33),
	@nTargetUserType int,
	@nReturn	int OUTPUT
AS	
	DECLARE 
        @error_var int,
        @rowcount_var int

    SET NOCOUNT ON

    SET @nReturn = 0
    
	BEGIN TRAN
	
	INSERT INTO LogGMParty( GMUserNum, GMChaNum, GMChaName, GMUserType, TargetUserNum, TargetChaNum, TargetChaName, TargetUserType )
	VALUES ( @nGMUserNum, @nGMChaNum, @szGMChaName, @nGMUserType, @nTargetUserNum, @nTargetChaNum, @szTargetChaName, @nTargetUserType )

	SELECT @error_var = @@ERROR, @rowcount_var = @@ROWCOUNT    
	IF @error_var <> 0 OR @rowcount_var = 0
		BEGIN
		ROLLBACK TRAN
		SET @nReturn = -1
		END
	ELSE
		BEGIN
		COMMIT TRAN
		END

    SET NOCOUNT OFF    
    
    RETURN @nReturn
