USE [RanUser]
GO
/****** Object:  StoredProcedure [dbo].[sp_PCIDBlock]    Script Date: 04/18/2020 19:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_PCIDBlock]
	@szReason     varchar(512), 
	@szHWID       varchar(65),
	@szMAC        varchar(65),
	@nType        int,
	@nReturn      int    OUTPUT
AS
    DECLARE 
		@idx int,
        @error_var int,
        @rowcount_var int
        
	SET NOCOUNT ON
	
	--return -1 failed
	--return 0 success
	--return 1 exist
	SET @nReturn = 0
	
	IF @nType = 1
	BEGIN
		
		IF (SELECT COUNT(*) FROM BlockPCID WITH (NOLOCK) WHERE BlockHWID = @szHWID AND BlockTYPE = 1) > 0
		BEGIN
			SET @nReturn = 1
			RETURN @nReturn
		END
	
		INSERT INTO BlockPCID (BlockHWID, BlockTYPE, BlockReason ) 
        VALUES (@szHWID, @nType, @szReason )   
        
        SELECT @error_var = @@ERROR, @rowcount_var = @@ROWCOUNT    
		IF @error_var <> 0 OR @rowcount_var = 0
			BEGIN
			ROLLBACK TRAN
			SET @nReturn = -1
			END
		ELSE
			BEGIN
			COMMIT TRAN
		END
		 
	END
	
	IF @nType = 2
	BEGIN
		
        IF (SELECT COUNT(*) FROM BlockPCID WITH (NOLOCK) WHERE BlockMAC = @szMAC AND BlockTYPE = 2) > 0
		BEGIN
			SET @nReturn = 1
			RETURN @nReturn
		END
	    
	    INSERT INTO BlockPCID (BlockMAC, BlockTYPE, BlockReason ) 
        VALUES (@szMAC, @nType, @szReason )   
        
        SELECT @error_var = @@ERROR, @rowcount_var = @@ROWCOUNT    
		IF @error_var <> 0 OR @rowcount_var = 0
			BEGIN
			ROLLBACK TRAN
			SET @nReturn = -1
			END
		ELSE
			BEGIN
			COMMIT TRAN
		END
		
	END
	
	IF @nType = 3
	BEGIN
	   
	    IF (SELECT COUNT(*) FROM BlockPCID WITH (NOLOCK) WHERE BlockHWID = @szHWID AND  BlockMAC = @szMAC AND BlockTYPE = 3 ) > 0
		BEGIN
			SET @nReturn = 1
			RETURN @nReturn
		END
	    
	    INSERT INTO BlockPCID (BlockHWID, BlockMAC, BlockTYPE, BlockReason ) 
        VALUES (@szHWID, @szMAC, @nType, @szReason )   
        
        SELECT @error_var = @@ERROR, @rowcount_var = @@ROWCOUNT    
		IF @error_var <> 0 OR @rowcount_var = 0
			BEGIN
			ROLLBACK TRAN
			SET @nReturn = -1
			END
		ELSE
			BEGIN
			COMMIT TRAN
		END
		
	END
	
	
	
	
	
	
	SET NOCOUNT OFF
	RETURN @nReturn
