USE [RanGame1]
GO
/****** Object:  StoredProcedure [dbo].[sp_RequestGuBattle]    Script Date: 10/16/2020 5:20:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_RequestGuBattle]
    @nClubP  int,
    @nClubS  int,
	@nStartTime datetime,
	@nEndTime datetime,
	@nAlliance int,
	@nReturn int	OUTPUT
AS    
    DECLARE 
        @error_var int, 
		@rowcount_var int

	SET NOCOUNT ON
	
	SET @nReturn = 0	
	SET @error_var = 0
	SET @rowcount_var = 0	
    
    INSERT INTO GuildBattle (GuSNum, GuPNum, GuFlag, GuKillNum, GuDeathNum, GuBattleStartDate, GuBattleEndDate, GuAlliance) 
    VALUES (@nClubS, @nClubP, 0, 0, 0, @nStartTime, @nEndTime, @nAlliance)
    
    -- Check Error
    SELECT @error_var = @@ERROR, @rowcount_var = @@ROWCOUNT    
    IF @error_var <> 0 OR @rowcount_var = 0
    BEGIN
        SET @nReturn = -1 -- ERROR
    END
    ELSE
    BEGIN
        SET @nReturn = 0 -- SUCCESS
    END


	UPDATE GuildInfo
    SET GuBattleLastTime=@nStartTime
    WHERE GuNum = @nClubP

	SET NOCOUNT OFF
    RETURN @nReturn
