USE [RanGame1]
GO
/****** Object:  StoredProcedure [dbo].[sp_ResetAllianceBattle]    Script Date: 10/15/2020 4:39:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ResetAllianceBattle]
    @GuNum  int,
	@nReturn int	OUTPUT
AS    
    DECLARE 
        @error_var int, 
		@rowcount_var int

	SET NOCOUNT ON
	
	SET @nReturn = 0	
	SET @error_var = 0
	SET @rowcount_var = 0	
    
    BEGIN TRAN

	UPDATE GuildInfo
	SET GuAllianceBattleLose=0, GuAllianceBattleDraw=0, GuAllianceBattleWin=0
	WHERE GuNum=@GuNum

	SELECT @error_var = @@ERROR, @rowcount_var = @@ROWCOUNT    
	IF @error_var <> 0 OR @rowcount_var = 0
	BEGIN
		ROLLBACK TRAN
		SET @nReturn = -1
	END
	ELSE
	BEGIN
		COMMIT TRAN
		SET @nReturn = 0
	END    

	SET NOCOUNT OFF
	RETURN @nReturn
