USE [RanGame1]
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveGuBattle]    Script Date: 10/14/2020 2:51:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SaveGuBattle]
    @nClubP  int,
    @nClubS  int,
	@nGuKillNum int, 
	@nGuDeathNum int,
	@nReturn int	OUTPUT
AS    
    DECLARE 
        @error_var int, 
		@rowcount_var int

	SET NOCOUNT ON
	
	SET @nReturn = 0	
	SET @error_var = 0
	SET @rowcount_var = 0	
    
    BEGIN TRAN

	UPDATE GuildBattle
	SET GuKillNum=@nGuKillNum, GuDeathNum=@nGuDeathNum
	WHERE GuSNum=@nClubS AND GuPNum=@nClubP AND GuFlag=0

	SELECT @error_var = @@ERROR, @rowcount_var = @@ROWCOUNT    
	IF @error_var <> 0 OR @rowcount_var = 0
	BEGIN
		ROLLBACK TRAN
		SET @nReturn = -1
	END
	ELSE
	BEGIN
		COMMIT TRAN
		SET @nReturn = 0
	END    

	SET NOCOUNT OFF
	RETURN @nReturn
