USE [RanUser]
GO
/****** Object:  StoredProcedure [dbo].[sp_UserRestrict]    Script Date: 04/21/2020 06:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_UserRestrict]
	 @UserNum int,
     @UserRestricted int,
     @nReturn int OUTPUT
	
AS
	SET NOCOUNT ON
	
	SET @nReturn = 0
	
	UPDATE UserInfo
	SET UserFlagRestricted = @UserRestricted
	WHERE UserNum = @UserNum

	SET NOCOUNT OFF
	RETURN @nReturn
