USE [RanUser]
GO
/****** Object:  StoredProcedure [dbo].[user_account_page_login_device_check_set]    Script Date: 11/6/2020 6:40:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[user_account_page_login_device_check_set]
	@UserNum		int,
    @userId			char(25),
    @userPass		char(25),
	@UserLoginDeviceCheck		int,
    @SvrGrpNum		int,
    @SvrNum			int,   
    @nReturn		int    OUTPUT

AS        
    DECLARE
		@error_var int, 
		@rowcount_var int
		
	SET NOCOUNT ON
	
	SET @nReturn = 0
	
	UPDATE UserInfo
	SET UserLoginDeviceCheck=@UserLoginDeviceCheck
	WHERE UserNum=@UserNum AND UserID=@userId AND UserPass2=@userPass
	
	SELECT @error_var = @@ERROR, @rowcount_var = @@ROWCOUNT
	IF @error_var <> 0 OR @rowcount_var = 0
	BEGIN
		--not found error 1
       	SET @nReturn = 1
		SET NOCOUNT OFF
		RETURN @nReturn
	END
	ELSE
	BEGIN
		--good return -
       	SET @nReturn = 0
		SET NOCOUNT OFF
		RETURN @nReturn
	END



