USE [RanUser]
GO
/****** Object:  StoredProcedure [dbo].[user_verify]    Script Date: 11/6/2020 8:26:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[user_verify]
    @userId        char(25),
    @userPass     char(25),
    @userIp        char(25),
    @SvrGrpNum    int,
    @SvrNum        int,   
    @proPass    varchar(6), -- Ran dynamic password
    @proNum     varchar(2), -- Ran dynamic password random number
    @pcID_HWID  varchar(65), --PCID
	@pcID_MAC  varchar(65), --PCID
	@bPCIDSingleLogin   int,	--PCID
	@bPCIDCheckLogin   int,	--PCID
    @nReturn     int    OUTPUT

AS        
    DECLARE 
        @nAvailable    int,
        @nUserNum    int,
        @nState int,
        -- Declare variables used in error checking.
        @error_var int, 
        @rowcount_var int,
        @nBlock int,
        @BlockDate datetime,
        @EndDate datetime,
        @StrSql nvarchar(100),
        @LastLoginDate datetime,
        @UserLevel int,

		--login device check
		@UserLoginDeviceCheck int,
		@strLastHWID varchar(65),
		@strLastMAC varchar(65),
		@strLastIP varchar(25)

 
    SET NOCOUNT ON

    SET @nReturn = 0
    SET @nUserNum = 0
    
    SELECT @nUserNum=UserInfo.UserNum, 
           @nState=UserInfo.UserLoginState, 
           @nBlock=UserInfo.UserBlock, 
           @BlockDate=UserInfo.UserBlockDate,
           @LastLoginDate=UserInfo.LastLoginDate,
           @UserLevel = UserInfo.UserType,

		   --login device check
		   @UserLoginDeviceCheck = UserInfo.UserLoginDeviceCheck,
		   @strLastHWID = UserInfo.LastPCIDHWID,
		   @strLastMAC = UserInfo.LastPCIDMAC,
		   @strLastIP = UserInfo.LastIP

    FROM UserInfo
    WHERE UserID = @userId AND UserPass = @userPass AND UserAvailable = 1


    -----------------------------------------------------------------
-- ID / PWD check...
    IF @nUserNum = 0
    BEGIN        
        SET @nReturn = 0        
        RETURN @nReturn
    END
    ELSE
    BEGIN        
        SET @nReturn = 1        
        IF @nState = 1
        BEGIN
			-- login exist or user connected
			-- added logs
			INSERT INTO LogExistLogin (UserNum, UserID, LogIpAddress) 
			VALUES (@nUserNum, @userId, @userIp)    
			
            SET @nReturn = 5
            RETURN @nReturn 
--	update userinfo set userloginstate =0
--	where usernum =@nUserNum 
       END
    END

	---------
	---Login delay check
	---works only on non user gm
	IF @UserLevel < 20
	BEGIN
		IF (SELECT DATEDIFF(SECOND, @LastLoginDate, GETDATE()) ) < 20
		BEGIN
			SET @nReturn = 30
			RETURN @nReturn
		END
	END 
	
	---PCID
	IF @bPCIDSingleLogin = 1
	BEGIN
		IF (SELECT COUNT(*) FROM UserKey WITH (NOLOCK) WHERE PCIDHWID = @pcID_HWID AND PCIDMAC = @pcID_MAC) > 0
		BEGIN
			-- pc active
			SET @nReturn = 31
			RETURN @nReturn
		END
	END
	---END PCID
	
	---PCID Check
	---block type 
	---1 = hwid only
	---2 = mac only
	---3 = both hwid and mac
	IF @bPCIDCheckLogin = 1
	BEGIN
		IF (SELECT COUNT(*) FROM BlockPCID WITH (NOLOCK) WHERE BlockHWID = @pcID_HWID AND BlockTYPE = 1) > 0
		BEGIN
			-- pcid banned
			SET @nReturn = 32
			RETURN @nReturn
		END

		IF (SELECT COUNT(*) FROM BlockPCID WITH (NOLOCK) WHERE BlockMAC = @pcID_MAC AND BlockTYPE = 2) > 0
		BEGIN
			-- pcid banned
			SET @nReturn = 32
			RETURN @nReturn
		END

		IF (SELECT COUNT(*) FROM BlockPCID WITH (NOLOCK) WHERE BlockHWID = @pcID_HWID AND  BlockMAC = @pcID_MAC AND BlockTYPE = 3 ) > 0
		BEGIN
			-- pcid banned
			SET @nReturn = 32
			RETURN @nReturn
		END

	END
	---END PCID Check
	
	IF (SELECT COUNT(*) FROM BlockAddress WITH (NOLOCK) WHERE BlockAddress = @userIp) > 0
    BEGIN
        declare @params as nvarchar(100)        
        SET @StrSQL = 'SELECT @ordercnt=count(userid) FROM Randpass WHERE userid='''+@userId+''' AND pwd'+@proNum + '='''+@proPass + ''''
        SET @params = '@ordercnt as int OUTPUT' -- OUTPUT ???? ??
        
        exec sp_executesql @StrSQL, @params, @ordercnt = @rowcount_var OUTPUT

        SELECT @error_var = @@ERROR
        IF @error_var = 0 AND @rowcount_var = 1
        BEGIN
            SET @nReturn = 1 -- Dynamic password correct
        END
        ELSE
        BEGIN
            SET @nReturn = 7 -- Dynamic password error            
            RETURN @nReturn            
        END        
    END


    -----------------------------------------------------------------
    -- IP Address ??
    IF (SELECT COUNT(*) FROM IPInfo WITH (NOLOCK) WHERE ipAddress = @userIp) > 0
    -- IP ?? ??
    BEGIN
        SELECT @nAvailable = useAvailable 
        FROM IPInfo 
        WHERE ipAddress = @userIp
        
        IF @nAvailable = 1 
        BEGIN            
            SET @nReturn = 2 -- ID/PWD ? ????, IP ? ????            
        END
        ELSE
        BEGIN            
            SET @nReturn = 4 -- ID/PWD ? ????, IP ? ????? ??            
        END
    END
    ELSE
    -- IP ?? ??
    BEGIN
        SET @nReturn = 3     -- ID/PWD ? ????, IP ??? ??        
    END

    -----------------------------------------------------------------
    -- Block ?? ??
    IF (@nBlock = 1)
    BEGIN
        IF (@BlockDate > GetDate())
        BEGIN
            SET @nReturn = 6
        END
        ELSE
        BEGIN
            UPDATE UserInfo 
            SET UserBlock=0 
            WHERE UserNum = @nUserNum
            
            SET @nReturn  = 2
        END 
    END    
    
	--login device check
	IF @UserLoginDeviceCheck = 1
	BEGIN
		IF @strLastHWID <> @pcID_HWID
		BEGIN
			--last HWID mismatch
			SET @nReturn = 35
		END

		IF @strLastMAC <> @pcID_MAC
		BEGIN
			--last MAC mismatch
			SET @nReturn = 35
		END

		IF @strLastIP <> @userIp
		BEGIN
			SET @nReturn = 35
		END
	END

    -----------------------------------------------------------------
    -- ??? ???? ??    
    IF (@nReturn = 1) OR (@nReturn = 2) OR (@nReturn = 3)
    BEGIN
        -- ???, ??? ????? ??
        UPDATE UserInfo
        SET UserLoginState=1, LastLoginDate=getdate(), LastPCIDHWID = @pcID_HWID, LastPCIDMAC = @pcID_MAC, LastIP = @userIp, SGNum=@SvrGrpNum, SvrNum=@SvrNum 
        WHERE UserNum = @nUserNum
        
        -- ???? ???
        INSERT INTO LogLogin (UserNum, UserID, LogInOut, LogIpAddress, LogHWID, LogMAC ) 
        VALUES (@nUserNum, @userId, 1, @userIp, @pcID_HWID, @pcID_MAC )    
        
        ---PCID
		IF @bPCIDSingleLogin = 1
		BEGIN
			INSERT INTO UserKey (PCIDHWID, PCIDMAC,PCIDUserNum,PCIDUserID,PCIDSGNum) VALUES (@pcID_HWID, @pcID_MAC, @nUserNum, @userId, @SvrGrpNum )
		END
		---END PCID
        
        -- ?? ????
        UPDATE StatLogin
        SET LCount = LCount+1 
        WHERE LYear=Year(GetDate()) AND LMonth=Month(GetDate()) AND LDay=Day(GetDate()) AND LHour=DatePart(hour, GetDate())
        
        SELECT @error_var = @@ERROR, @rowcount_var = @@ROWCOUNT
        IF @error_var <> 0 OR @rowcount_var = 0
        BEGIN
            INSERT INTO StatLogin (LYEAR) 
            VALUES (YEAR(GetDate()))
        END
    END

    SET NOCOUNT OFF    
    
    RETURN @nReturn  



