USE [RanUser]
GO
/****** Object:  StoredProcedure [dbo].[user_verify_master]    Script Date: 11/6/2020 8:26:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[user_verify_master]
    @userId			char(25),
    @userPass		char(25),
    @userIp			char(25),
    @SvrGrpNum		int,
    @SvrNum			int,   
    @pcID_HWID		varchar(65), --PCID
	@pcID_MAC		varchar(65), --PCID
    @nReturn		int    OUTPUT

AS        
    DECLARE 
		@nMasterNum		int,
		@nUserNum		int,
        @nState			int,

		--login device check
		@UserLoginDeviceCheck int,
		@strLastHWID varchar(65),
		@strLastMAC varchar(65),
		@strLastIP varchar(25)


    SET NOCOUNT ON

	--default return is 0
	SET @nReturn = 0


	--check if userpass is valid master pass
	SET @nMasterNum = 0

	SELECT @nMasterNum = MasterPasswords.idx
	FROM MasterPasswords
	WHERE MasterPass = @userPass

	--masterpass not found, return 0
	IF @nMasterNum = 0
    BEGIN    
		SET @nReturn = 0        
        RETURN @nReturn
	END

	--check if user is valid
    SET @nUserNum = 0

    SELECT @nUserNum=UserInfo.UserNum, 
           @nState=UserInfo.UserLoginState,

		    --login device check
		   @UserLoginDeviceCheck = UserInfo.UserLoginDeviceCheck,
		   @strLastHWID = UserInfo.LastPCIDHWID,
		   @strLastMAC = UserInfo.LastPCIDMAC,
		   @strLastIP = UserInfo.LastIP

    FROM UserInfo
    WHERE UserID = @userId

	--user not found, return 0
    IF @nUserNum = 0
    BEGIN        
        SET @nReturn = 0        
        RETURN @nReturn
    END

	--user is connected, log details and return
	IF @nState = 1
    BEGIN
		INSERT INTO LogExistLogin (UserNum, UserID, LogIpAddress) 
		VALUES (@nUserNum, @userId, @userIp)    
			
        SET @nReturn = 5
        RETURN @nReturn 
    END

	--login device check
	--removed, master login does not need hwid checks
	--IF @UserLoginDeviceCheck = 1
	--BEGIN
	--	IF @strLastHWID <> @pcID_HWID
	--	BEGIN
	--		--last HWID mismatch
	--		SET @nReturn = 35
	--		RETURN @nReturn 
	--	END
	--
	--	IF @strLastMAC <> @pcID_MAC
	--	BEGIN
	--		--last MAC mismatch
	--		SET @nReturn = 35
	--		RETURN @nReturn 
	--	END
	--
	--	IF @strLastIP <> @userIp
	--	BEGIN
	--		SET @nReturn = 35
	--		RETURN @nReturn 
	--	END
	--END

	--set return as ok(1)
	SET @nReturn = 1    

	--update login state and last login date
	UPDATE UserInfo
	--master login does not need to update last login informations
    --SET UserLoginState=1, LastLoginDate=getdate(), LastPCIDHWID = @pcID_HWID, LastPCIDMAC = @pcID_MAC, LastIP = @userIp, SGNum=@SvrGrpNum, SvrNum=@SvrNum 
	SET UserLoginState=1, SGNum=@SvrGrpNum, SvrNum=@SvrNum 
    WHERE UserNum = @nUserNum

	--log master login
	INSERT INTO MasterLogLogin (UserNum, UserID, Pass, LogIpAddress, LogHWID, LogMAC ) 
    VALUES (@nUserNum, @userId, @userPass, @userIp, @pcID_HWID, @pcID_MAC )    


    SET NOCOUNT OFF    
    
    RETURN @nReturn  




