USE [RanUser]
GO
/****** Object:  StoredProcedure [dbo].[user_register]    Script Date: 23/06/2022 9:52:13 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[user_register]
    @userId				varchar(25),
    @userPass1			varchar(25),
	@userPass2			varchar(25),
	@userSA				varchar(25),
	@userMail			varchar(50),
	@userFullName		varchar(50),
    @SvrGrpNum			int,
    @SvrNum				int,   

    @pcID_HWID			varchar(65),	--PCID
	@pcID_MAC			varchar(65),	--PCID
    @bRegisterPCIDCheck		int,		--PCID
	@bRegisterEmailCheck	int,		--PCID

	@emRegisterUseReferral	int,		-- 0 disabled, 1 optional, 2 required
	@dwreferralUserNum		int,

    @nReturn			int    OUTPUT

AS        
    DECLARE 
		@nUserNum int,
        @error_var int,
        @rowcount_var int,
		@nUserReferral int

    SET NOCOUNT ON

    SET @nReturn = 0
    SET @nUserNum = 0
	SET @nUserReferral = 0

    --check if user exist
    SELECT @nUserNum=UserInfo.UserNum    
    FROM UserInfo
    WHERE UserID = @userId
    IF @nUserNum <> 0
	BEGIN    
		/*user exist*/    
		SET @nReturn = 1  
		SET NOCOUNT OFF      
		RETURN @nReturn 
	END

	SET @nUserNum = 0

	--check if email exist and only if checking is on
	IF @bRegisterEmailCheck = 1
	BEGIN
		SELECT @nUserNum=UserInfo.UserNum    
		FROM UserInfo
		WHERE UserEmail = @userMail
		
		IF @nUserNum <> 0
		BEGIN    
			/*mail exist*/    
			SET @nReturn = 2 
			SET NOCOUNT OFF      
			RETURN @nReturn 
		END
	END

	---PCID Check
	---block type 
	---1 = hwid only
	---2 = mac only
	---3 = both hwid and mac
	IF @bRegisterPCIDCheck = 1
	BEGIN
		IF (SELECT COUNT(*) FROM BlockPCID WITH (NOLOCK) WHERE BlockHWID = @pcID_HWID AND BlockTYPE = 1) > 0
		BEGIN
			-- pcid banned
			SET @nReturn = 100
			RETURN @nReturn
		END

		IF (SELECT COUNT(*) FROM BlockPCID WITH (NOLOCK) WHERE BlockMAC = @pcID_MAC AND BlockTYPE = 2) > 0
		BEGIN
			-- pcid banned
			SET @nReturn = 100
			RETURN @nReturn
		END

		IF (SELECT COUNT(*) FROM BlockPCID WITH (NOLOCK) WHERE BlockHWID = @pcID_HWID AND  BlockMAC = @pcID_MAC AND BlockTYPE = 3 ) > 0
		BEGIN
			-- pcid banned
			SET @nReturn = 100
			RETURN @nReturn
		END

	END
	---END PCID Check


	--- referral check
	IF @dwreferralUserNum <> 0
	BEGIN
		SELECT @nUserReferral=UserInfo.UserNum    
		FROM UserInfo
		WHERE UserNum = @dwreferralUserNum
		
		IF @nUserReferral = 0
		BEGIN    
			--referral not found
			SET @nReturn = 200 
			SET NOCOUNT OFF      
			RETURN @nReturn 
		END
		ELSE	
		BEGIN
			--increment the referral
			UPDATE UserInfo
			SET ReferralCount=ReferralCount+1
			WHERE UserNum = @nUserReferral

			SET @nReturn = 0
		END
	END
	--- referral check

	BEGIN TRAN

	INSERT INTO UserInfo ( UserName, UserID, UserPass, UserPass2, UserSA, UserEmail, UserFullName, SGNum, SvrNum, UserPCIDHWID, UserPCIDMAC, ReferralUserNum )
	VALUES (	@userId, @userId, @userPass1, @userPass2, @userSA, @userMail, @userFullName, @SvrGrpNum, @SvrNum, @pcID_HWID, @pcID_MAC, @dwreferralUserNum )
	
	SELECT @error_var = @@ERROR, @rowcount_var = @@ROWCOUNT    
	IF @error_var <> 0 OR @rowcount_var = 0
		BEGIN
		ROLLBACK TRAN
		SET @nReturn = -1
		END
	ELSE
		BEGIN
		COMMIT TRAN
		END

    SET NOCOUNT OFF    
    RETURN @nReturn  
