USE [RanUser]
GO
/****** Object:  StoredProcedure [dbo].[user_login_device_check_verify_request]    Script Date: 11/8/2020 1:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[user_login_device_check_verify_request]
    @userId			char(25),
    @userPass		char(25),
    @SvrGrpNum		int,
    @SvrNum			int,   
	@userIp			char(25),
    @pcID_HWID		varchar(65), --PCID
	@pcID_MAC		varchar(65), --PCID
    @nReturn		int    OUTPUT

AS        
    DECLARE 
		@nUserNum		int,
		@strLastHWID varchar(65),
		@strLastMAC varchar(65),
		@strLastIP varchar(25)

    SET NOCOUNT ON

	SET @nReturn = 0
	SET @nUserNum = 0

	SELECT @nUserNum = UserInfo.UserNum,
		   @strLastHWID = UserInfo.LastPCIDHWID,
		   @strLastMAC = UserInfo.LastPCIDMAC,
		   @strLastIP = UserInfo.LastIP
	FROM UserInfo
	WHERE UserID = @userId AND UserPass2 = @userPass AND UserLoginDeviceCheck = 1

	--user not found/wrong password2
	IF @nUserNum = 0
    BEGIN    
		SET @nReturn = 1        
        RETURN @nReturn
	END

	--set return as ok(0)
	SET @nReturn = 0   

	--update information
	UPDATE UserInfo
    SET LastPCIDHWID = @pcID_HWID, LastPCIDMAC = @pcID_MAC, LastIP = @userIp
    WHERE UserNum = @nUserNum

	--log changes
	INSERT INTO LogloginDeviceCheck (UserNum, UserID, PrevPCIDHWID, PrevPCIDMAC, PrevIP, NewPCIDHWID, NewPCIDMAC, NewIP ) 
    VALUES (@nUserNum, @userId, @strLastHWID, @strLastMAC, @strLastIP, @pcID_HWID, @pcID_MAC, @userIp )    

    SET NOCOUNT OFF    
    
    RETURN @nReturn  



